body{
    font-size: 18px;
    background-color: rgb(239, 239, 243);
    box-sizing:border-box;
} 
/*
.menu{
    float:right;
    padding: 20px 30px;
    margin: 10px 5px;
}

a{
    text-decoration: none;

}
.gmail:hover{
    text-decoration: underline;
}
.footer-menu{
    background-color: black;
    height: 70px;
    
}
.footer-menu li{
    bottom: 0;
    padding: 30px 20px;
    margin: 50px 20px;
   
}
ul{
    list-style: none;
}
.right{
    float:right;
}
.left{
    float: left;
}
.country{
    border-bottom: 1px solid black;
    
} */
.menu {
    display: flex;
    float: right;
    margin: 0;
    
}
.menu a{
    
    align-items:flex-end;
    justify-content: space-evenly;
    text-decoration: none;
}
.user{
    background-color: blue;
    border-radius: 4px;
    text-align: center;
    color: white;
    text-decoration: none;
}
h2.google{
/* margin-top: 15%; */
margin: 15% auto 1% auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;  
    /* border: 100vh solid black;
    border-radius: 10px;
    border-width: 200px;  */


}
div.search-container{
    width: 450px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 20px;
    margin: 0 auto 2% auto;
}
div.options{
    display: flex;
    align-items: flex-end;
    justify-content:center;
    text-decoration: none;
    
    
}
button.google-search{
   background-color: whitesmoke;
   border: 0px;
   border-style: none;
   margin-bottom: 10px;
   /* height: 10px;
   width: 10px; */
   /* padding: 60px; */
    
    
}
button.google-search a{
    color: black;
    text-decoration: none;
    
    
}
p.language{
    text-align: center;
}
div.location{
    background-color: grey;
    margin-top: 20%;
}
footer{
    background-color: grey;
}
div.footer-menu{
}
div.foot-links ul li{
    display:inline;
    padding-right: 30px;
    text-decoration: none;

}