body{
    font-size: 18px;
    
    box-sizing:border-box;
   
} 

/* .menu{
    float:right;
    padding: 20px 30px;
    margin: 10px 5px;
}

a{
    text-decoration: none;

}
.gmail:hover{
    text-decoration: underline;
}
.footer-menu{
    background-color: black;
    height: 70px;
    
}
.footer-menu li{
    bottom: 0;
    padding: 30px 20px;
    margin: 50px 20px;
   
}
ul{
    list-style: none;
}
.right{
    float:right;
}
.left{
    float: left;
}
.country{
    border-bottom: 1px solid black;
    
} */
header{
    float: right;
    margin: 0;
    /* display: flex;
    /* align-items: flex-end;
    justify-content:center; */
  
    /* width: 100%;
    align-items: flex-end; */
}
.menu {
    float: right;
    /* position: absolute; */
    top: 0px;
    /* left: 80%; */
    /* width: 100%; */
    /* padding: 20px 20px; */
  

    
}
.gmail{
    order: 1;
}
.links{
    order: 3;
}
.material-symbols-outlined{
    order: 2;
}
.user{
    order: 1; 
}


.menu a{
    
    /* align-items:flex-end; */
    /* justify-content: space-evenly; */
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 0;
}
.user{
    background-color: blue;
    border-radius: 4px;
    text-align: center;
    color: white;
    text-decoration: none;
}
img.google{
/* margin-top: 15%; */
/* margin: 15% auto 1% 37%; */
    display: flex;
    align-items: flex-end;
    justify-content: center;  
    /* border: 100vh solid black;
    border-radius: 10px;
    border-width: 200px;  */


}
div.search-container{
    width: 450px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 20px;
    margin: 0 auto 2% auto;
}
div.options{
    display: flex;
    align-items: flex-end;
    justify-content:center;
    text-decoration: none;
    
    
}
button.google-search{
   background-color: grey;
   border: 0px;
   border-style: none;
   margin-bottom: 10px;
   /* height: 10px;
   width: 10px; */
   /* padding: 60px; */
    
    
}
button.google-search a{
    color: black;
    text-decoration: none;
    
    
}
p.language{
    text-align: center;
}
div.location{
    
    margin-top: 10%;
}
p.country{
    padding-top: 10px;
    padding-left: 40px;
}
footer{
    background-color: #f2f2f2;
    /* width: 100%; */
    height: 100%;
}

div.foot-links{
  
    border-top: 2px solid grey;
}
div.foot-links ul li{
    display:inline-flex;
    padding-right: 30px;
    text-decoration: none;
    color:black;
    
}
div.foot-links ul li a{
    
    text-decoration: none;
    color:black;
}

a.carbon{
    justify-content: center;
    
}
a.right{
    float: left;
}

span.material-symbols-outlined{
    float: left;
    padding-top: 5px;
    padding-left: 10px;
   
}

span.material-symbols-rounded{
    float: right;
     padding-left: 5px;
    padding-right: 10px;
    padding-top: 5px;
   
}